
.navbar {
  z-index: 900;
  filter: drop-shadow(2px 4px 2px #474747cc);
 margin-top: 5px;
  border-radius: 15pc;
	background: rgba(251, 242, 209, 0.781);
background: linear-gradient(338deg, rgb(242 242 242 / 15%) 7%, rgba(245, 215, 134, 0.233) 100%);backdrop-filter: blur(5px);
	padding: 10px 15px;
	position: fixed;
	width: 90%;
	top: 0;
	display: flex;
	justify-content: space-between; /* Poravnanje logoa i linkova slobodnog poziva na različite strane */
	align-items: center; /* Centralizacija stavki unutar navigacijske trake */
  }
  

  .logo span {
	font-weight: 800;
  color: #da802ca8;
	text-transform: uppercase;
     font-family: 'Poppins', sans-serif;
  }
   

  .logo a {
	font-size: 20px;
	text-decoration: none;
	color: white;
 

  }
  

  @media screen and (max-width: 1300px) {
    .logo a {
        display: none;
    }
}

@media screen and (min-width: 1301px) {
    .logo span {
        display: inline;
        color: #FAC898;
    }
}


	.freecall {
    font-weight: 500;
    color: black;
    border: 1px solid rgba(255, 228, 196, 0.747);
  border-radius: 20px;
  padding: 7px 15px;
  background-color: #FAC898;backdrop-filter: blur(5px);
	text-decoration: none;
	}


  .freecall:hover {
    transition: transform 0.3s; 
}

.freecall:hover {
  background-color:rgba(245, 245, 245, 0.914);
    transform: scale(1.2); /* Povećavamo veličinu elementa kada se prelazi mišem */
}

  .links  {

	list-style-type: none; /* Uklonite podnešene točke iz popisa */
	margin: 0;
	padding: 0;
  }
  
  .links li {
	font-weight: 100;
	display: inline-block; /* Stavite stavke popisa u red */
	margin-right: 20px; /* Dodajte razmak između stavki */
  }
  
  .links li:last-child {
	margin-right: 0; /* Uklonite margine s desne strane za zadnju stavku */
  }
  
  .links li a {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
     font-weight: 600;
    color: #ffffffe3;
    text-decoration: none;
    transition: color 0.3s ease;
    text-transform: uppercase;
  }


  .links li a:hover {
      border-bottom:2px solid #FAC898;
      
      
    }

  .navbar i  {
    display: none;
    font-size: 32px; 

  }

  .toggle_btn { 
    display: none;
  }
  .free-call {
	color: white;
	text-decoration: none;
	margin-left: auto; /* Pomičite slobodan poziv na desnu stranu */
  }
  

  
  @media screen and (max-width: 807px) {
  .logo  span {
          display: inline;
          font-weight: 800;
          color: #FAC898;
          text-transform: uppercase;
      }
      .logo a  {
        display: inline;
        font-weight: 800;
        color: rgb(255, 255, 255);
       
    }
  
	.navbar {
    width: 80%;
    padding: 12px;
    justify-content: space-between;
	}
  
	.logo {
	  font-size: 1.2rem;
	}
  
	.links {
	  display: none; /* Skrijte linkove na mobilnim uređajima */
	}
  
	.freecall {
    display: none; 
    background-color: beige;
	  margin-left: 0; /* Resetiraj marginu slobodnog poziva */
	}
  
	.toogle_btn {
		color: white;
	  cursor: pointer; /* Promijenite kursor na pokazivač */
	}
  .navbar i  {
    z-index: 999;
    display: block;
    font-size: 20px; 
  }
  .toggle_btn { 
    
    display: block;
  }
  }




  /*---------------------------------------------stars-------------------------------- */

body {
  padding: 5%;
  justify-content: center;
  min-height: 130vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}

.stars {
color: bisque;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.83em;
  --top-offset: 98.26vh;
  --fall-duration: 7.539s;
  --fall-delay: 5.405s;
}
.star:nth-child(2) {
  --star-tail-length: 6.42em;
  --top-offset: 35.49vh;
  --fall-duration: 7.826s;
  --fall-delay: 3.091s;
}
.star:nth-child(3) {
  --star-tail-length: 5.78em;
  --top-offset: 18.62vh;
  --fall-duration: 7.532s;
  --fall-delay: 8.017s;
}
.star:nth-child(4) {
  --star-tail-length: 6.47em;
  --top-offset: 31.9vh;
  --fall-duration: 11.568s;
  --fall-delay: 9.919s;
}
.star:nth-child(5) {
  --star-tail-length: 7.12em;
  --top-offset: 0.84vh;
  --fall-duration: 11.193s;
  --fall-delay: 5.543s;
}
.star:nth-child(6) {
  --star-tail-length: 7.22em;
  --top-offset: 52.15vh;
  --fall-duration: 9.318s;
  --fall-delay: 7.921s;
}
.star:nth-child(7) {
  --star-tail-length: 6.34em;
  --top-offset: 80.22vh;
  --fall-duration: 7.941s;
  --fall-delay: 8.238s;
}
.star:nth-child(8) {
  --star-tail-length: 7.08em;
  --top-offset: 33.9vh;
  --fall-duration: 10.174s;
  --fall-delay: 1.771s;
}
.star:nth-child(9) {
  --star-tail-length: 6.1em;
  --top-offset: 0.86vh;
  --fall-duration: 9.654s;
  --fall-delay: 4.165s;
}
.star:nth-child(10) {
  --star-tail-length: 6.48em;
  --top-offset: 85.98vh;
  --fall-duration: 9.025s;
  --fall-delay: 8.77s;
}
.star:nth-child(11) {
  --star-tail-length: 7.49em;
  --top-offset: 32.15vh;
  --fall-duration: 9.934s;
  --fall-delay: 6.145s;
}
.star:nth-child(12) {
  --star-tail-length: 5.66em;
  --top-offset: 80.27vh;
  --fall-duration: 11.226s;
  --fall-delay: 0.736s;
}
.star:nth-child(13) {
  --star-tail-length: 5.75em;
  --top-offset: 23.83vh;
  --fall-duration: 6.546s;
  --fall-delay: 5.731s;
}
.star:nth-child(14) {
  --star-tail-length: 5.1em;
  --top-offset: 25.78vh;
  --fall-duration: 7.495s;
  --fall-delay: 0.34s;
}
.star:nth-child(15) {
  --star-tail-length: 6.81em;
  --top-offset: 69.87vh;
  --fall-duration: 11.962s;
  --fall-delay: 2.544s;
}
.star:nth-child(16) {
  --star-tail-length: 7.26em;
  --top-offset: 17.13vh;
  --fall-duration: 7.794s;
  --fall-delay: 0.441s;
}
.star:nth-child(17) {
  --star-tail-length: 6.1em;
  --top-offset: 41.98vh;
  --fall-duration: 7.479s;
  --fall-delay: 9.67s;
}
.star:nth-child(18) {
  --star-tail-length: 6.73em;
  --top-offset: 24.44vh;
  --fall-duration: 8.259s;
  --fall-delay: 8.844s;
}
.star:nth-child(19) {
  --star-tail-length: 6.46em;
  --top-offset: 32.89vh;
  --fall-duration: 7.659s;
  --fall-delay: 6.619s;
}
.star:nth-child(20) {
  --star-tail-length: 5.71em;
  --top-offset: 30.33vh;
  --fall-duration: 10.966s;
  --fall-delay: 3.463s;
}
.star:nth-child(21) {
  --star-tail-length: 7.07em;
  --top-offset: 5.35vh;
  --fall-duration: 10.222s;
  --fall-delay: 6.451s;
}
.star:nth-child(22) {
  --star-tail-length: 6.47em;
  --top-offset: 18.13vh;
  --fall-duration: 6.013s;
  --fall-delay: 1.223s;
}
.star:nth-child(23) {
  --star-tail-length: 6.74em;
  --top-offset: 14.91vh;
  --fall-duration: 8.525s;
  --fall-delay: 6.8s;
}
.star:nth-child(24) {
  --star-tail-length: 6.13em;
  --top-offset: 33.06vh;
  --fall-duration: 6.54s;
  --fall-delay: 5.401s;
}
.star:nth-child(25) {
  --star-tail-length: 6.82em;
  --top-offset: 29.23vh;
  --fall-duration: 11.526s;
  --fall-delay: 6.95s;
}
.star:nth-child(26) {
  --star-tail-length: 6.59em;
  --top-offset: 27.07vh;
  --fall-duration: 8.278s;
  --fall-delay: 7.16s;
}
.star:nth-child(27) {
  --star-tail-length: 7.14em;
  --top-offset: 64.7vh;
  --fall-duration: 6.479s;
  --fall-delay: 0.918s;
}
.star:nth-child(28) {
  --star-tail-length: 5.83em;
  --top-offset: 61.46vh;
  --fall-duration: 11.481s;
  --fall-delay: 6.076s;
}
.star:nth-child(29) {
  --star-tail-length: 6.74em;
  --top-offset: 22.95vh;
  --fall-duration: 10.17s;
  --fall-delay: 6.347s;
}
.star:nth-child(30) {
  --star-tail-length: 6.23em;
  --top-offset: 39.04vh;
  --fall-duration: 8.549s;
  --fall-delay: 6.533s;
}
.star:nth-child(31) {
  --star-tail-length: 5.64em;
  --top-offset: 98.51vh;
  --fall-duration: 9.813s;
  --fall-delay: 0.48s;
}
.star:nth-child(32) {
  --star-tail-length: 5.82em;
  --top-offset: 33.93vh;
  --fall-duration: 8.773s;
  --fall-delay: 6.4s;
}
.star:nth-child(33) {
  --star-tail-length: 6.05em;
  --top-offset: 52.39vh;
  --fall-duration: 10.105s;
  --fall-delay: 2.151s;
}
.star:nth-child(34) {
  --star-tail-length: 5.57em;
  --top-offset: 69.72vh;
  --fall-duration: 6.093s;
  --fall-delay: 5.249s;
}
.star:nth-child(35) {
  --star-tail-length: 5.29em;
  --top-offset: 4.95vh;
  --fall-duration: 6.26s;
  --fall-delay: 5.807s;
}
.star:nth-child(36) {
  --star-tail-length: 6.04em;
  --top-offset: 50.73vh;
  --fall-duration: 10.49s;
  --fall-delay: 0.67s;
}
.star:nth-child(37) {
  --star-tail-length: 6.39em;
  --top-offset: 15.63vh;
  --fall-duration: 11.093s;
  --fall-delay: 6.036s;
}
.star:nth-child(38) {
  --star-tail-length: 6.66em;
  --top-offset: 77.34vh;
  --fall-duration: 6.395s;
  --fall-delay: 4.517s;
}
.star:nth-child(39) {
  --star-tail-length: 7.18em;
  --top-offset: 28.6vh;
  --fall-duration: 10.348s;
  --fall-delay: 2.928s;
}
.star:nth-child(40) {
  --star-tail-length: 5.9em;
  --top-offset: 42.78vh;
  --fall-duration: 8.058s;
  --fall-delay: 3.667s;
}
.star:nth-child(41) {
  --star-tail-length: 6em;
  --top-offset: 11.86vh;
  --fall-duration: 7.676s;
  --fall-delay: 0.968s;
}
.star:nth-child(42) {
  --star-tail-length: 5.49em;
  --top-offset: 98.99vh;
  --fall-duration: 9.377s;
  --fall-delay: 0.151s;
}
.star:nth-child(43) {
  --star-tail-length: 6.49em;
  --top-offset: 85.77vh;
  --fall-duration: 10.219s;
  --fall-delay: 3.798s;
}
.star:nth-child(44) {
  --star-tail-length: 6.37em;
  --top-offset: 2.37vh;
  --fall-duration: 10.783s;
  --fall-delay: 7.133s;
}
.star:nth-child(45) {
  --star-tail-length: 6.49em;
  --top-offset: 34.9vh;
  --fall-duration: 8.303s;
  --fall-delay: 2.827s;
}
.star:nth-child(46) {
  --star-tail-length: 5.23em;
  --top-offset: 14.53vh;
  --fall-duration: 10.279s;
  --fall-delay: 5.446s;
}
.star:nth-child(47) {
  --star-tail-length: 6.04em;
  --top-offset: 98.67vh;
  --fall-duration: 11.287s;
  --fall-delay: 0.642s;
}
.star:nth-child(48) {
  --star-tail-length: 6.37em;
  --top-offset: 65.38vh;
  --fall-duration: 11.629s;
  --fall-delay: 9.345s;
}
.star:nth-child(49) {
  --star-tail-length: 5.51em;
  --top-offset: 69.42vh;
  --fall-duration: 9.069s;
  --fall-delay: 7.199s;
}
.star:nth-child(50) {
  --star-tail-length: 5.57em;
  --top-offset: 69.56vh;
  --fall-duration: 8.327s;
  --fall-delay: 3.17s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

/*---------------------------------------------stars-------------------------------- */

.herosection {
  z-index: 100;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;

 }

.sec2 img {
  border: 2px solid rgba(255, 255, 0, 0.515);
  border-radius: 58% 42% 70% 30% / 51% 72% 28% 49% ;
  filter: drop-shadow(5px -2px 4px #c4c3c3);
  transition: transform 2s ease, opacity 0.5s ease;
}


.sec2 img:hover {
  transform: rotate(-5deg) translateX(10px); 

}


.sec1 {
  z-index: 100;
  padding-bottom: 7%;
 }


 .sec2 {
  z-index: 100;
  padding-bottom: 2%;

 }

 .sec1 span {
  line-height: 1;
  font-size: 24px;
  color: #FAC898;
 }

.webdev {
  font-size: 16px;
  color: #fac79898;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
 text-align: center;

}

 .sec1 h1 {
  font-size: 3.7rem;
  color: white;
  font-family: 'Roboto', sans-serif;

 }

 .sec1 p {
  z-index: 100;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.641);
  font-size: 18px;
    margin-bottom: 20px; 
  line-height: 1.6;  
  font-family: 'Inter', sans-serif;  


 }

 @media screen and (min-width: 750px) and (max-width: 1123px) {
  .sec1  h1 {
      font-size: 44px; 
 }
  .sec1 span {
    font-size: 32px;
    line-height: 1;
  }
}


 


 @media screen and (max-width: 750px) {
  .herosection {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
   
    }
    .herosection img {
      height: 240px;
      object-fit: cover;
      width: -webkit-fill-available;
    }
  .herosection h1 {
    font-size: 32px;
  }
  .herosection p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: whitesmoke;
  }
  .herosection .webdev {
    text-transform: uppercase;
    font-size: 14px;
    color: #FAC898;
  }
  .herosection .letters {
    font-size: 22px;

  }

  .sec1 {
    width: 100%;
    margin-left: 0;

   }
  
  
   .sec2 {
    padding-top: 21%;
    width: 100%;
    margin-left: 0;

    
   }
   .webdev  {
    color: #FAC898;
   }

   .navbar a {
    font-size: 14px;
   }
    .navbar i {
      font-weight: 300;
    font-size: 18px;
   }

    .navbar span {
    font-size: 16px;
   }
  
 }


 .btns button {
  margin-top: 5px;
  padding: 10px 20px;
  border: unset;
  border-radius: 10px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
.btns button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
.btns button:hover {
  color: #FAC898;
 }
 
.btns .button:hover::before {
  width: 100%;
 }



 .chose {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dvije jednake kolone */
  gap: 20px; /* Razmak između kolona */
  align-items: center;
}

.column {
  width: 100%;
}




.see h1 {
  text-align: ce;
  
}


.ml11 {
  font-weight: 700;
  font-size: 2.5em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 200px;
}

.ml11 .letter {
  font-size: 48px;
  display: inline-block;
  line-height: 1em;
  color: #FAC898;
  text-shadow: -6px -3px 3px rgba(19, 140, 89, 0.273);
}

/*card box 1*/
.card-container {
  margin-top: -15px;
  padding: 35px;             /* umjesto % koristi px ili rem */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;                 /* razmak između kartica */
  overflow: visible;         /* važno da scale ne reže karticu */
  min-height: 350px;         /* da kontejner uvijek ostane dovoljno visok */
}


.card {
  width: 240px;
  height: 190px;
  background-color: #2929297d;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform;
  position: relative;        /* da z-index radi */
  z-index: 1;
}


.icon {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 80px;
  background: linear-gradient(81deg, #2d3c6a 0%, #af9748ad 40%, rgba(0, 0, 0, 0.28) 60%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

.icon svg {

  fill: white;
}

.card .title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card .text {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}

.card:hover {
  padding: 2%;
  height: 270px;
}

.card:hover .text {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 40px;
}

.card:hover .icon {
  background-position: -120px;
  transition: all 0.3s ease;
}

.card:hover .icon svg path {
  fill: url('#gradientColor');
  transition: all 0.3s ease;
}

#demoFont {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  letter-spacing: -0.8px;
  word-spacing: -0.8px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-transform: lowercase;
  text-align: center;
  padding-top: 30px;
  }

  .allservice {
    padding-top: 25px;
  }

#demop {
  margin-top: -20px;
  font-size: 16px;
  color:rgba(255, 255, 255, 0.641);
  text-align: center;
  padding-top: 30px;
  font-family: 'Inter', sans-serif;

}

  @media screen and (max-width: 750px) {
    #demoFont {
    font-family: 'Inter', sans-serif;
      font-size: 32px;
      letter-spacing: -0.8px;
      word-spacing: -0.8px;
      color: #FFFFFF;
      font-weight: 700;
      text-decoration: none solid rgb(68, 68, 68);
      font-style: italic;
      font-variant: small-caps;
      text-transform: lowercase;
      text-align: left;
      padding-top: 30px;
      }
    #demop{
      text-align: left;
    }

  }


.logo-menu span {
	font-weight: 800;
  color: #FAC898;
	text-transform: uppercase;
     font-family: 'Poppins', sans-serif;
  }
   

  .logo-menu a {
	font-size: 20px;
	text-decoration: none;
	color: white;
 

  }


  
  
  .button {
    z-index: 100;
    background-color: #ffffff00;
    color: #fff;
    width: 9.5em;
    height: 2.4em;
    border: #FAC898 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
  }
  
  .button:hover {
    background-color: #FAC898;
    cursor: pointer;
  }
  
  .button svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .button:hover svg {
    transform: translateX(5px);
  }
  
  .text {
    margin: 0 1.5em
  }


  .menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    overflow: auto;
}

.overlayli {
  align-items: center;
  justify-self: center;
  overflow: hidden;
  position: initial;
  width: 100vw;
  height: 100vh;
  text-align: center; 
  background: rgb(255 93 0 / 6%);
    backdrop-filter: blur(5px); /* pravi blur iza */
  -webkit-backdrop-filter: blur(5px); /* za Safari */
  text-decoration: none;
  
}

.close-btn {
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.582);
    position: absolute;
    top: 15px;
    right: 22px;
    font-size: 42px;
    cursor: pointer;
    
}

.overlayli ul {
  list-style-type: none; 
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style-type: none; /* Uklanja bullet pointove kod <ul> */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centriranje stavki po horizontali */
  justify-content: center; /* Centriranje stavki po vertikali */
  height: 100%; /* Podesi visinu na 100% kako bi se centrirao */


}

.overlayli ul li a {
  text-transform:uppercase;
  font-weight: 800;
  text-decoration: none;
  color: #ffffffc4;
  margin: 25px;
  font-size: 22px;
  
}

.overlayli ul li a:hover {
  text-decoration: underline; color: #FAC898;

}

.logo-menu {
  padding-top: 20%;
}
.overlayli ul li a:hover {
  color: #FAC898;
 
}


/* View more BTN */

.content {
  padding-bottom: 9%;
}
.text-preview {
    display: -webkit-box;
    --ebkit-line-clamp: 2; /* Ograniči na 2 reda */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    color: #ffffff; /* Prilagođeno tvojoj tamnoj pozadini */
    font-size: 1rem; /* Osigurava konzistentnu veličinu teksta */
    font-family: 'Inter', sans-serif;
}

details[open] .text-preview {
    display: block; /* Prikazuje sav tekst kada je otvoreno */
    --bkit-line-clamp: unset; /* Uklanja ograničenje redova */
}

details.content {
    color: #ffffff;
    margin-top: 10px;
}

summary {
    cursor: pointer;
    color: #FAC898;
    text-decoration: underline;
    font-size: 14px;
       font-family: 'Inter', sans-serif;
    display: inline-block;
    transition: color 0.3s ease;
}

summary:hover {
    color: #ff48fb;
}

details[open] summary {
    color: #ff48fb;
}


.footer {
  background: #000000a1;
  color: whitesmoke;
  padding: 3rem 1.5rem;
  border-radius: 5pc;
  z-index: 999;
  font-family:'Inter', sans-serif;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__logo {
   z-index: 0;
  width: 40px;
  height: 40px;
  fill: #fac898;
}

.footer__title {
  font-size: 1.2rem;
  margin: 0;

}
.footer__title a {
      font-size: 20px;
    text-decoration:none;
    color: white;
}

.footer__title span {
  font-weight:800;
    color: #fac898;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.footer__subtitle {
  z-index: 0;
  font-size: 0.9rem;
  color: #aaa;
}

.footer__newsletter {
    z-index: 0;
  max-width: 300px;
  margin: 0 auto;

}

.footer__heading {
   z-index: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #fac898;
}

.footer__text {
  font-size: 0.85rem;
  margin-bottom: 1rem;
  color: #bbb;
}

.footer__form {
   z-index: 0;
  display: flex;
  gap: 0.5rem;
}

.footer__input {
  flex: 1;
  padding: 0.6rem;
  border-radius: 6px;
  border: none;
}

.footer__btn {
  background: #fac898;
  color: #000;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.footer__btn:hover {
  background: #ffb765;
}

.footer__links ul {
  list-style: none;
  padding: 0;
}

.footer__links li {
  margin: 0.3rem 0;
}

.footer__links a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.3s;
}

.footer__links a:hover {
  color: #fac898;
}

.footer__bottom {
  border-top: 1px solid #222;
  margin-top: 2rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__social a {
  margin-left: 1rem;
  color: #ccc;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.footer__social a:hover {
  color: #fac898;
}

@media (max-width: 768px) {
  .footer__container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer__brand {
    justify-content: center;
  }

  .footer__form {
    flex-direction: column;
  }

  .footer__btn {
    width: 100%;
  }
}


